In [4]:
import pandas as pd

# Import data

In [7]:
import pandas as pd

data_path = 'data/data.csv'
cultivars_description_path = 'data/cultivars-description.ods'

data_df = pd.read_csv(data_path)
cultivars_description_df = pd.read_excel(cultivars_description_path, engine='odf')

# Afișarea primelor câteva rânduri din DataFrame pentru a verifica conținutul
print(data_df.head())

   Season    Cultivar  Repetition     PH    IFP    NLP     NGP   NGL   NS  \
0       1  NEO 760 CE           1  58.80  15.20   98.2  177.80  1.81  5.2
1       1  NEO 760 CE           2  58.60  13.40  102.0  195.00  1.85  7.2
2       1  NEO 760 CE           3  63.40  17.20  100.4  203.00  2.02  6.8
3       1  NEO 760 CE           4  60.27  15.27  100.2  191.93  1.89  6.4
4       1   MANU IPRO           1  81.20  18.00   98.8  173.00  1.75  7.4

      MHG       GY
0  152.20  3232.82
1  141.69  3517.36
2  148.81  3391.46
3  148.50  3312.58
4  145.59  3230.99

In [10]:
data_df.head()

,Cultivars,Maturation group,Seeds per meter/linear,Density per meter/linear
0,FTR 3190 IPRO,9.0,12.5,250000
1,FTR 4288 IPRO,8.8,11.0,220000
2,NK 8770 IPRO,8.7,16.0,320000
3,M 8606I2X,8.6,10.0,200000
4,M 8644 IPRO,8.6,11.0,220000

In [11]:
cultivars_description_df.head()

,Cultivars,Maturation group,Seeds per meter/linear,Density per meter/linear
0,FTR 3190 IPRO,9.0,12.5,250000
1,FTR 4288 IPRO,8.8,11.0,220000
2,NK 8770 IPRO,8.7,16.0,320000
3,M 8606I2X,8.6,10.0,200000
4,M 8644 IPRO,8.6,11.0,220000